#home
  #left-column
    #intro
      #logo= image_tag 'logo.png'
      %h1 Snowball
      %h2 The friend film.
    #download= link_to image_tag('download-ios.png'), 'http://bit.ly/snblapp'
  #right-column
    .cell#cell-one
      %h2 One film. Just your friends.
      %h2 Every day.
      %h2.welcome Welcome to Snowball.
      #disclaimer= image_tag('disclaimer-arrow.png')
    .cell#cell-two
      %h2 Play.
      .app-screen= image_tag('app-screen-play.png')
    .cell#cell-three
      %h2 Capture.
      .app-screen= image_tag('app-screen-capture.png')
    .cell#cell-four
      %h2 Add.
      .app-screen= image_tag('app-screen-add.png')
    .cell#cell-five
      %h2 Like.
      .app-screen= image_tag('app-screen-like.png')
    #footer
      %ul
        %li= link_to 'Home', root_url
        %li= link_to 'Terms', terms_url
        %li= link_to 'Privacy', privacy_url
